<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header')  %>
    <title>Document</title>
</head>
<body>
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-lg">
          <!-- <h1 class="text-center text-2xl font-bold text-indigo-600 sm:text-3xl">Enter Your registered Email</h1> -->
            
          <form id="reset-password-form" class="mb-0 mt-6 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8">
            <p class="text-center text-lg font-medium">Enter Your new Password</p>
      
            <!-- for password input tag -->
        <div>
            <label for="password" class="sr-only">Password</label>
    
            <div class="relative">
              <input
                id="pwd-input"
                type="password"
                class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                placeholder="Enter password"
                name="password"
              />
    
              <span id="show-password" class="absolute inset-y-0 end-0 grid place-content-center px-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 text-gray-400"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                  />
                </svg>
              </span>
            </div>
            <p id="password-error" class="text-sm px-2 mt-2 text-red-400"></p>
          </div>
  
          <!-- for confirm password input tag -->
          <div>
            <label for="confirmPassword" class="sr-only">Confirm Password</label>
    
            <div class="relative">
              <input
                id="confirm-pwd-input"
                type="password"
                class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                placeholder="Confirm password"
                name="confirmPassword"
              />
  
              <span id="show-confirm-password" class="absolute inset-y-0 end-0 grid place-content-center px-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 text-gray-400"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                  />
                </svg>
              </span>
            </div>
            <p id="confirm-password-error" class="text-sm px-2 mt-2 text-red-400"></p>
          </div>
            <button
              id="submit-btn"
              type="submit"
              class="block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white"
            >
              Reset Password
            </button>
          </form>
        </div>
      </div>

      <script src="/js/auth/new-password.js"></script>
</body>
</html>