<div class="w-full h-full flex">
    <div class="w-full py-2 px-7">
        <h4 class="font-semibold bg-white">Comments</h4>
        <div class="">
            <div id="conversation" class="mt-5 w-full border  py-4 ">
                <% if (pin.comments.length == 0) { %>
                    <p id="default-comment" class="opacity-50">no comments yet. Add one to start the conversation.</p>
                <% } %>
                <% pin.comments.forEach(comment => { %>
                    <div class="px-2 py-1 border-opacity-40 w-full mt-1 rounded-lg ">
                        <p class="text-sm underline"><%= comment.profileId.username %></p>
                        <p class=""><%= comment.message %></p>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
