<div id="create-board-modal" class="absolute hidden top-0 w-full h-screen flex justify-center items-center bg-slate-500 bg-opacity-35">
    <!-- board -->
    <div class="bg-white rounded-lg px-4 py-8">
        <h2 class="w-full text-2xl font-bold text-center">Create board</h2>
        <form action="/board/create/save/<%= pin._id %>" method="post" class="mt-4">
            <div class="flex flex-row ">
                <!-- image section -->
                <div class="p-4">
                    <div class="w-[256px] rounded-lg overflow-hidden">
                        <img src="/images/uploads/<%= pin.image %>" alt="" class="w-full h-auto object-cover">
                    </div>
                </div>
                <!-- input fields section -->
                <div class="w-2/3 flex flex-col p-4">
                        <label class="mb-1" for="name">Board Name</label>
                        <input class="py-3 rounded-lg" type="text" name="name">
            
                        <!-- toggle for secret -->
                        <label class="inline-flex items-center mb-5 cursor-pointer mt-5">
                            <input type="checkbox" name="secret" value="yes" class="sr-only peer">
                            <div class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Secret</span>
                        </label>
                </div>
            </div>
            <div class="flex justify-between px-4 pt-4">
                <button id="hide-create-board-modal" class="bg-slate-300 p-3 rounded-xl hover:bg-slate-400">Cancel</button>
                <button class="bg-red-600 p-3 rounded-xl hover:bg-red-700 text-white font-bold" type="submit">create</button>
            </div>
        </form>

    </div>
</div>