<!-- component -->
<div class="sticky w-full top-0 z-50 border-b border-stroke-color font-raleway">
	<nav class="relative px-4 h-16 flex justify-between items-center bg-bg-primary">
		<a class="text-3xl font-bold leading-none" href="/feed">
			<img class="h-10" src="/images/assets/pic-fusion-logo.png" alt="logo">
		</a>
		<!-- if user has logged in then only show the menu(home, explore, create) -->
		<% if (locals.user) { %>
			<div class="w-full flex flex-row px-5 gap-5 items-center">
				<a href="/feed" class="nav">Home</a>
				<a href="/pin/create" class="nav">Create</a>
				<%- include("search") %>
				<!-- <a href="/chat">
					<span class="material-symbols-outlined">
						chat
					</span>
				</a> -->
			</div>
		<% } %>
		<!-- login and signup -->
		<% if (!locals.user) { %>
			<div class="flex flex-row gap-5">
				<a class="nav" href="/auth/login">Log In</a>
				<a class="nav" href="/auth/signup">Sign up</a>
			</div>
			<!-- <a class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold  rounded-xl transition duration-200" href="/auth/login">Log In</a> -->
		<% } else { %>
			<%- include('./profileDropdown') %>
		<% } %>
	</nav>
</div>


