<div class="flex flex-row items-center gap-2 w-full">
    <div class="w-14 h-14  rounded-full overflow-hidden">
        <img src="/images/uploads/<%= author.profilePic %>" alt="profile pic" class="w-full h-full object-cover">
    </div>
    <div class="">
        <p><%= pin.author.username %></p>
    </div>
</div>

