<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title>Feed Page</title>
</head>
<body class="bg-slate-50">
    <%- include("./partials/nav") %>
    <div class="w-full justify-center flex flex-wrap gap-5 mt-[80px] mb-8">
        <% pins.forEach(pin => { %>
            <div class="w-[236px] h-auto rounded-3xl overflow-hidden">
                <!-- <div class="w-full h-full z-10 opacity-30"></div> -->
                <img src="/images/uploads/<%= pin.image %>" class=" w-full h-full object-cover" alt="pin">
            </div>
        <% }) %>
    </div>
</body>
</html>