<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title>Home Page</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="w-full flex flex-row" style="max-height: calc(100vh - 85px);">
        <div class="w-1/2 flex flex-col items-start justify-center px-9">
            <p class="text-3xl font-bold py-5">Welcome to PinCraft!</p>
            <p class="max-w-[50%]">Discover endless inspiration and creativity from our vibrant community of creators. Whether you're looking for home decor ideas, delicious recipes, or travel inspiration, PinCraft has something for everyone.</p>
        </div>
        <div class="w-1/2">
            <img src="/images/assets/Nerd-amico.svg" alt="assets1" class="w-auto h-full">
        </div>
    </div>
</body>
</html>