<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- for text reveal -->
    <%- include('./partials/header') %>
    <script src="https://unpkg.com/split-type"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <title>Home Page</title>
  </head>
  <body class="text-text-color overflow-hidden">
    <%- include('./partials/nav') %>
    <div class="w-full flex flex-col justify-center items-center h-[100vh]">
      <p class="mb-5 pt-5 text text-7xl font-bold font-esthetique text-center" style="clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);">
        Welcome to PicFusion
      </p>
      <p class="text text-3xl font-esthetique text-center" style="clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);">
        Tomorrow's Pins, Today's Dreams.
      </p>
    </div>


    <script>

        let text = new SplitType('.text');
        let characters = document.querySelectorAll('.char');
        for(i = 0; i < characters.length; i++) {
            characters[i].classList.add('translate-y-full');
        }

        gsap.to('.char', {
            y : 0,
            stagger : 0.05, 
            delay : 0.02,
            duration : 0.2,
        });
    </script>
  </body>
</html>
