@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: "esthetique";
    src : url('../fonts/esthetique.otf');
}

@layer utilities {
    .nav {
        @apply relative text-text-color font-raleway font-bold z-[1] tracking-tight
    }

    .nav::after {
        @apply content-[''] bg-tertiary h-[5px] w-[0%] left-0 -bottom-[2px] -z-10 absolute duration-200
    }

    .nav:hover::after {
        @apply w-[100%]
    }
}

 
/* width */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 5px;
    height: 10px;
}

